#app {
  display: flex;
}
#map {
	width: 50%;
	height: 50rem;
}
#info {
  width: 50%;
}
.zoneInfoList {
  display: flex;
}
.zoneInfoList div {
  padding: 1%;
  flex-grow: 1;
  flex-basis: 1px;
  border: 1px solid lightskyblue;
}
